/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "../../node_modules/bourbon/core/bourbon";

body, html {
    background-color: $bg-color;
    font-family: $font-stack-verdana;
    color: $text-default-color;
}