/* You can add global styles to this file, and also import other style files */
@import './variables';
@import '../../node_modules/bourbon/core/bourbon';
@import './bootstrap-custom';
@import './fonts/fonts';
@import './font-awesome-customs';

body,
html {
  background-color: $bg-color;
  font-family: 'Popins';
  color: $text-default-color;
  width: 100vw;
  height: 100vh;
}
