@import '../../../../sass/variables';
:host {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: table;
  > .ctn-code-dashboard {
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    h1 {
      font-size: 50px !important;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
