@import '../../../../sass/variables';
:host {
  width: 100%;
  // align-items: center;
  // justify-content: center;
  > .ctn-code-dashboard {
    text-align: center;
    display: block;
    // vertical-align: middle;
    h1 {
      font-size: 50px !important;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
