<div class="ctn-code-dashboard">
  <h1><i class="text-danger">D</i>ashboard</h1>
  <div class="d-block text-center m-auto">
    <a href="https://github.com/batouche-dev/dashboard" target="_blank">
      <i class="fa fa-bars"></i> Get the dashboard code from the repository
    </a>
  </div>
  <div class="d-block text-center m-auto">
    <a href="https://codeload.github.com/batouche-dev/dashboard/zip/1.0.0">
      <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>&nbsp;Get code</a
    >
  </div>
</div>
