:host {
  height: 100%;
  width: 100%;
  margin: 5px 40px;

  .question {
    display: block;
    text-align: center;
    position: relative;
    min-height: 75px !important;
    padding: 20px 8px 5px 8px;
    margin-bottom: 10px;
    background: #f3f3f3;
    border-radius: 8px;
    opacity: 0.5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .answer {
    display: block;
    text-align: center;
    position: relative;
    padding: 15px 8px 8px 8px;
    margin-top: 70px;
    background: #f3f3f3;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 0.5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    img {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

    > .bar-progress {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      color: red($color: #000000);
    }
  }

  h1 {
    font-size: 6vw;
    opacity: 0.6;
  }
  .ctn-avatar {
    position: absolute;
    right: 30px;
    margin: 10px 0px;
    i {
      float: right;
      top: 10px;
      right: 8px;
    }
  }

  > .sb4:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #f3f3f3;
    border-top: 10px solid #f3f3f3;
    border-bottom: 10px solid transparent;
    right: 29px;
    bottom: -19px;
    opacity: 0.7;
  }
  .sb1:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #f3f3f3;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #f3f3f3;
    right: 29px;
    top: -19px;
    opacity: 0.7;
  }
  .attribute {
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 10px;
  }
}
