<div class="container-title">
  <h3>Weather</h3>
</div>

<div *ngIf="weather" class="weather-container">
  <img src="{{ weather.icon }}" alt="" />
  <h1>
    <b>{{ weather.temperature }}°</b> <small>c</small>
  </h1>
  <h4>
    <b>{{ weather.description }} - {{ weather.name }}</b>
  </h4>
</div>
<div *ngIf="!weather" class="weather-container">
  <img src="./assets/imgs/unknown.png" alt="" />
  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="error" class="d-block text-danger error-ctn">
    <p>{{ error.message }}</p>
  </div>
  <h1><b> - </b>°c</h1>
  <h4>-</h4>
</div>
