@import '../../../../sass/tools.scss';
:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > .ctn {
    display: block;
    text-align: center;

    > h1 {
      font-size: 400% !important;
    }
    > h5 {
      font-weight: 300;
    }
  }
}
